.place__title {
    max-width: 460px;
    align-self: flex-end;
    object-fit: cover;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .place__title {
        font-size: 7.03vw;
        line-height: 7.42vw;
        margin-left: 4.68%;
    }
}

@media screen and (min-width: 665px) and (max-width:1023px) {
    .place__title {
        font-size: 5.46vw;
        line-height: 5.98vw;
        margin-left: 3.125%;
    }
}

@media screen and (min-width: 320px) and (max-width: 664px) {
    .place__title {
        font-size: 10vw;
        line-height: 10.93vw;
        margin-left: 5%;
    }
}