.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  /*height: 6875px;*/
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  background-color: #2A2C2F;
}