.place__image {
    object-fit: cover;
    max-width: 460px;
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
    .place__image {
        width: 100%;
        min-height: 440px;
    }
}

@media screen and (min-width: 665px) and (max-width:1023px) {
    .place__image {
        width: 100%;
        min-height: 340px;
    }
}

@media screen and (min-width: 425px) and (max-width:664px) {
    .place__image {
        width: 100%;
        min-height: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .place__image {
        width: 100%;
        min-height: 100%;
    }
}