.footer__link {
    display: flex;
    margin-right: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__link:hover {
    opacity: 80%;
    transition: 1s ease;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .footer__link {
        font-size: 1.56vw;
        line-height: 1.75vw;
    }
}
@media screen and (min-width: 665px) and (max-width:1023px) {
    .footer__link {
        font-size: 2.08vw;
        line-height: 2.34vw;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 664px) {
    .footer__link {
        font-size: 7.5vw;
        line-height: 7.5vw;
        margin-bottom: 32px;
    }
}
@media screen and (min-width: 320px) and (max-width: 664px) {
    .footer__link:nth-child(5) {
        margin-bottom: 0;
    }
}