.place__paragraph {
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    margin-bottom: 26px;
}
.place__paragraph:nth-child(2n) {
    margin-bottom: 0;
}

@media screen and (min-width: 1280px) {
    .place {
        grid-template-columns: repeat(2, 460px);
        grid-template-rows: auto;
    }
}
@media screen and (max-width: 1280px) {
    .place {
        grid-template-columns: repeat(2, 460px);
        grid-template-rows: auto;
    }
}
@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: repeat(2, 440px);
        grid-template-rows: auto;
    }
}
@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: auto;
    }
}
@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: repeat(1, 288px);
        grid-template-rows: auto;
    }
}