.lead__subtitle {
    width: 640px;
    height: 72px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
}