.cover {
    /* max-width: 1184px; */
    /* min-height: 740px; */
    /* display: flex;
    flex-direction: column; */
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 92px;
    align-content: center;
}

@media screen and (min-width: 1280px) {
    .cover {
        min-height: 740px;
    }
}
@media screen and (min-width: 1024px) {
    .cover {
        min-height: 640px;
    }
}
@media screen and (min-width: 768px) {
    .cover {
        min-height: 480px;
        margin-bottom: 88px;
    }
}
@media screen and (min-width: 320px) {
    .cover {
        min-height: 200px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 64px;
    }
}