.cover {
    align-content: center;
}
@media screen and (min-width: 1280px) {
    .cover {
        margin-left: 48px;
        margin-right: 48px;
    }
}
@media screen and (min-width: 320px) and (max-width: 1279px) {
    .cover {
        margin-left: 0;
        margin-right: 0;
    }
}